body
{
    padding-top: 0px;
}

#dropzone
{

    line-height: 50px;
    text-align: center;
    font-weight: normal;
    position: relative;
    border: 1px solid lightgray;

    padding-top: 85px;
    padding-bottom: 85px;

    font-family: WebFont;

    float: none;
    margin: 0px auto;
    border-radius: 0px;
}

#footerInfo
{
    border: 1px solid lightgray;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;
    margin: 0px auto;
    border-radius: 0px;
}

#fileUploadBar
{
    float: none;
    margin: 0px auto;
}

#footer
{
    padding-top: 5px;
    font-size: 9px;
    float: none;
    margin: 0px auto;
    border-radius: 0px;
}

#header
{
    border: 1px solid lightgray;
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;
    margin: 0px auto;
    border-radius: 0;
}

#chromeWarning
{
    border: 2px solid darkred;
    background-color: rgba(193,56,50,0.85);
    color: white;
    font-style: italic;
    padding: 5px;
    display: none;
}

#dropzone input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#progressbar {
    width: 0%;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}

@font-face{
    font-family:'WebFont';
    src:url('font/webfont.eot?v=3.2.0');
    src:url('font/webfont.eot?#iefix&v=3.2.0')
    format('embedded-opentype'),url('font/webfont.woff?v=3.2.0')
    format('woff'),url('font/webfont.ttf?v=3.2.0')
    format('truetype'),url('font/webfont.svg#fontawesomeregular?v=3.2.0')
    format('svg');
    font-weight:normal;
    font-style:normal;
}