#dropzone
{
    background: #DEDEDE;
    line-height: 50px;
    text-align: center;
    font-weight: normal;
}

#dropzone.in
{
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

#dropzone.hover
{
    background: lawngreen;
}

#chromeWarningText
{
    color: red;
}

#dropzone.fade
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}